.desc{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    margin: 20px;
}
@media (min-width: 768px){
    .course-grid {
        grid-template-columns: 1fr 1fr
        }
}
    
